body, html {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

#search-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border-radius: 8px;
}

#info-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 300px;
  background: rgba(255,255,255,0.9);
  padding: 10px;
  border-radius: 8px;
}